body{
    background-color: aquamarine;
}
p{
    background-color: beige;
}
a{
    background-color: rgb(173, 233, 76);
}
div{
    background-color: blueviolet;
}
span{
    background-color: bisque;
}